{% extends '::layout.html.twig' %}

{% block title %}Strona główna{% endblock %}
{% block content %}
    <div id="wetherModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="map" data-path="{{ path('load_information') }}"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqJeci3JGeYhBbCJZYFZp4W3sLsDHlqr0&callback=initMap" async defer></script>
{% endblock %}
