<table class="table table-striped">
    <tr>
        <td><b>Miasto:</b></td>
        <td>{{ entity.name }}</td>
    </tr>
    <tr>
        <td><b>Temperatura:</b></td>
        <td>{{ entity.temp }} <sup>o</sup>C</td>
    </tr>
    <tr>
        <td><b>Zachmurzenie</b></td>
        <td>{{ entity.clouds }}</td>
    </tr>
    <tr>
        <td><b>Wiatr</b></td>
        <td>{{ entity.wind }}</td>
    </tr>
    <tr>
        <td><b>Informacja ogólna:</b></td>
        <td>{{ entity.description }}</td>
    </tr>
</table>