{% extends '::layout.html.twig' %}

{% block title %}Historia wyszukiwań{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <tr>
                    <td><b>Maksymalna temperatura:</b></td>
                    <td>{{ maxTemp }} <sup>o</sup>C</td>
                </tr>
                <tr>
                    <td><b>Minimalna temperatura:</b></td>
                    <td>{{ minTemp }} <sup>o</sup>C</td>
                </tr>
                <tr>
                    <td><b>Średnia temperatura</b></td>
                    <td>{{ avgTemp }} <sup>o</sup>C</td>
                </tr>
                <tr>
                    <td><b>Łącznie wyszukiwań</b></td>
                    <td>{{ count }}</td>
                </tr>
                <tr>
                    <td><b>Popularne miasto:</b></td>
                    <td>{{ commonName }}</td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <table id="data-table-simple" class="table table-responsive display" cellspacing="0">
                <thead>
                    <tr>
                        {% for column in columns %}
                            <th >{{ ('datatables_' ~ column)|trans }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        {% for column in columns %}
                            <th >{{ ('datatables_' ~ column)|trans }}</th>
                        {% endfor %}
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <link rel="stylesheet" href="{{ asset('js/plugins/data-tables/css/jquery.dataTables.min.css') }}" />
    <script type="text/javascript" src="{{ asset('js/plugins/data-tables/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/data-tables/data-tables-script.js') }}"></script>
    <script type="text/javascript">
        $( function() {
            var table = $('#data-table-simple').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    'url': '{{ path('history_list') }}',
                    'method': 'GET',
                    'complete': function(){
                    },
                    'data': function(d) {}
                }
            });
        }(jQuery));
    </script>
{% endblock %}
